

.beerInfo{
  border: 2px solid black;
  margin: 10px;
  width: 500px;
  height: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  background-color: #B4C297;
}

.beerGraphicDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beerButtons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 5px;
}

.beerGraphic {
  height: 200px;
  width: 165px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.beerGraphic svg {
  z-index: 1;
}

.liquid {
  height: 200px;
  width: 175px;
  background-color: yellow;
  position: absolute;
  transform: translateY(-10px);

}
