<h1>Horace's Taproom</h1>
<h3>Tap List for {{month}}/{{day}}/{{year}}</h3>


  <div *ngFor="let currentBeer of beers" [class]="priorityColor(currentBeer)">
    <h2>{{currentBeer.beerName}}</h2>
    <h3>{{currentBeer.brand}}</h3>
    <p>Price: $<span>{{currentBeer.price}}</span></p>
    <p>ABV: <span>{{currentBeer.abv}}</span></p>
    <p>Pints Remaning: <span>{{currentBeer.status}}</span></p>
    <button (click)="editBeer(currentBeer)" type="button" name="button">Edit</button>
    <button (click)="sellPint(currentBeer)" type="button" name="button">Sell Pint</button>
  </div>

  <div *ngIf="selectedBeer">

    <h3>{{selectedBeer.beerName}}</h3>
    <h3>Edit Beer</h3>
    <label>Beer Name:</label>
    <input [(ngModel)]="selectedBeer.beerName">
    <br>
    <label>Beer Brand:</label>
    <input [(ngModel)]="selectedBeer.brand">
    <br>
    <label>Beer Price:</label>
    <input [(ngModel)]="selectedBeer.price">
    <br>
    <label>Beer abv:</label>
    <input [(ngModel)]="selectedBeer.abv">
    <br>
    <label>Pints remaining in Keg:</label>
    <input [(ngModel)]="selectedBeer.status">
    <button (click)="finishedEditing()">Done</button>
  </div>
