<div>
  <h3>app-new-beer Beer</h3>
  <label>Beer Name:</label>
  <input #newBeerName>
  <br>
  <label>Beer Brand:</label>
  <input #newBeerBrand>
  <br>
  <label>Beer Price:</label>
  <input #newBeerPrice>
  <br>
  <label>Beer abv:</label>
  <input #newBeerAbv>
  <br>
  <label>Pints remaining in Keg:</label>
  <input #newBeerStatus>
  <br>
  <label>Beer Color:</label>
  <br>
  <select #beerColor>
    <option value="#FCC745"> Light</option>
    <option value="#8F3100"> Amber</option>
    <option value="#3D120B"> Dark</option>
  </select>
  <button (click)="submitForm(newBeerName.value, newBeerBrand.value, newBeerPrice.value, newBeerAbv.value, newBeerStatus.value, beerColor.value); newBeerBrand.value=''; newBeerName.value=''; newBeerPrice.value=''; newBeerAbv.value=''; newBeerStatus.value='124'">Add</button>
</div>
