<div>
  <h3>{{childSelectedBeer.beerName}}</h3>
  <h3>app-new-beer Beer</h3>
  <label>Beer Name:</label>
  <input #newBeerName>
  <br>
  <label>Beer Brand:</label>
  <input #newBeerBrand>
  <br>
  <label>Beer Price:</label>
  <input #newBeerPrice>
  <br>
  <label>Beer abv:</label>
  <input #newBeerAbv>
  <br>
  <label>Pints remaining in Keg:</label>
  <input #newBeerStatus>
  <button (click)="submitForm(newBeerName.value, newBeerBrand.value, newBeerPrice.value, newBeerAbv.value, newBeerStatus.value); newBeerName.value='';newBeerBrand.value='';newBeerPrice='';newBeerAbv.value='';newBeerStatus.value='124'">Add</button>
</div>
